@font-face { font-family: Roboto; 
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');}

:root{
    --primary-color: #19647E;
    --secondary-color: #0A0C08; 
    --third-color: #EE964B;
    --accent1-color: #FEFAEC;
    --accent2-color: #28AFB0;
         
    --heading-font: 'Roboto', Roboto;
    --paragraph-font: 'Roboto' Roboto;
    
    --nav-background-color: var(--accent2-color);
    --nav-link-color: var(--secondary-color);
    --nav-hover-link-color: var(--primary-color);
    --nav-hover-background-color: var(--third-color);
}


h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

p{

    color: var(--secondary-color);
    padding: 25px;

}

a{

    color: var(--secondary-color);

}

body {
    font-family: var(--paragraph-font);
    text-align: left;
    margin: auto;
    padding: 30px;
    max-width: 1200px;
    
}

a:link {

    text-decoration: none;
    
}


.hero{
    position: relative;
    margin-top: 20px;

}

.hero img {
    
    display: block;
    width: 100%;
    height: auto;
}



.hero h1 {
    position: absolute;
    top: 3%;
    left: 840px;
    background-color: lightgrey;
    opacity: .9;
    color: var(--secondary-color);
}

article {
    position: absolute;
    top: 15%;
    left: 800px;
    background-color: darkgrey;
    padding: 20px;
    opacity: 9;
    

}

.article h2{
    position: absolute;
    top: 1px;
    right: 5px;
    
}

nav {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
    background-color: rgb(184, 182, 181);
    color: white;
}

.history-section {
    background-color: #19647E;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
    
}

.history-section h2 {
    color: red;
    flex: 1;
    margin: 0;
    border-right: 2px solid black;
    padding-right: 20px;
    text-align: center;
    height: 100%;

}

.history-section p {
    color: var(--secondary-color);
    flex: 2;
    height: 100%;
}

.adventures-section {
    padding: 20px;
    text-align: center;
    
  }

  .adventures-section h2 {
    color: red;
  }

  .adventures-container {
    display: flex;
    justify-content: space-between;
  }
  
  .adventures-container figure {
    flex: 1; 
    text-align: center;
  }
  
  .adventures-container img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc; 
  }
  
  .adventures-container figcaption {
    margin-top: 10px;
    font-style: italic;
  }
  
footer {
    background-color: lightyellow;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sociallinks {
    display: flex;
}

.sociallinks a {
    margin-left: 10px;
}