@font-face { font-family: Roboto; 
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-size: 1em;
    color: #333;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: left;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ccc;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 4px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;

}

label, input, button, select, textarea {
    font-family: 'Times New Roman', Times, serif;
}

label {
    margin: 0.5rem;
    border-radius: 0.1rem;
   
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}


button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .1rem;
    padding: .55rem;
    font-size: 1.2rem;  

}

th {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    background-color: cornsilk;
  }
  

.form-item {
    margin-bottom: 20px;
}

.column1,
.column2 {
    width: 100%;
   
   
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}